.Container {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 70;
}

.Input {
  padding: 10px;
  border: none;
  width: 30%;
  border-radius: 5px;
  transition: all 0.3s;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 0 0 0 1px rgba(42, 78, 241, 0.773);
}

.Input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(42, 78, 241, 0.773);
}
.Spinner {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.HomeLink,
.Homelink {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: rgb(69, 86, 243);
  font-weight: 600;
}
