.Container {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px 50px;
}

.Container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Container > * {
  z-index: 1;
}

.Poster {
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title {
  margin: 0;
  font-size: 28px;
  letter-spacing: 2px;
  color: rgb(69, 86, 243);
}

.Tagline {
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 3px;
}

.Genres {
  margin-top: 6px;
  font-size: 14px;
}

.Details {
  padding: 20px 20px;
  width: 500px;
  align-self: flex-start;
  color: #333333;
}

.Overview {
  padding-top: 20px;
  margin-bottom: 50px;
}

.Watch:link,
.Watch:visited {
  background-color: rgb(69, 86, 243);
  padding: 10px 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 100px;
  transition: all 0.3s;
  line-height: 0;
}
